<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{% block title %} LMS {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form method="POST"> {% csrf_token %}
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Book Name</i></label>
                <input type="text" class="form-control mt-2" name="name" placeholder="Enter name of the Book" required>
            </div>
        </div>
     
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Author Name</i></label>
                <input type="text" class="form-control mt-2" name="author" placeholder="Enter name of the Author" required>
            </div>
        </div>
     
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">ISBN Number</i></label>
                <input type="number" class="form-control mt-2" name="isbn" placeholder="Enter ISBN number of the book" required>
            </div>
        </div>
     
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Category</i></label>
                <input type="text" class="form-control mt-2" name="category" placeholder="Enter Category of the book" required>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4">Add Book</button>
    </div>
    </form>
</body>
</html>

<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>