<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{% block title %} LMS {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <form method="POST"> {% csrf_token %}
            {% for i in form %}
            <div class="form-group">
                <br>
              <label class="control-label col-xs-4">{{ i.label_tag }}</label>
              <div class="col-xs-8 mt-2">
              {{ i }}
               </div>
            </div>
            {% endfor %}
        <button type="submit" class="btn btn-outline-primary mt-4">Issue Book</button>
    </div>
    </form>
</body>
</html>

<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>